<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="productList">
	
		SELECT
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			FILE_PATH || CHANGE_NAME "PRODUCT_IMG"
		FROM PRODUCT
		JOIN ATTACHMENT USING (FILE_NO)
		WHERE PRODUCT_STATUS = 'Y'
		ORDER BY PRODUCT_NO DESC
	
	</entry>

	<entry key="productListSearch">
		SELECT
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			FILE_PATH || CHANGE_NAME "PRODUCT_IMG"
		FROM PRODUCT
		JOIN ATTACHMENT USING (FILE_NO)
		WHERE PRODUCT_STATUS = 'Y'
		AND PRODUCT_NAME LIKE ?
		ORDER BY PRODUCT_NO DESC
			
	</entry>
	
	<entry key="productListNewOrder">
		SELECT
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			FILE_PATH || CHANGE_NAME "PRODUCT_IMG"
		FROM PRODUCT
		JOIN ATTACHMENT USING (FILE_NO)
		WHERE PRODUCT_STATUS = 'Y'
		ORDER BY PRODUCT_NO DESC
	</entry>

	<entry key="productListNameOrder">
		SELECT
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			FILE_PATH || CHANGE_NAME "PRODUCT_IMG"
		FROM PRODUCT
		JOIN ATTACHMENT USING (FILE_NO)
		WHERE PRODUCT_STATUS = 'Y'
		ORDER BY PRODUCT_NAME ASC, PRODUCT_NO ASC
	</entry>
	
	<entry key="productListLowOrder">
		SELECT
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			FILE_PATH || CHANGE_NAME "PRODUCT_IMG"
		FROM PRODUCT
		JOIN ATTACHMENT USING (FILE_NO)
		WHERE PRODUCT_STATUS = 'Y'
		ORDER BY PRODUCT_PRICE ASC, PRODUCT_NAME ASC
	</entry>
	
	<entry key="productListHighOrder">
		SELECT
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			FILE_PATH || CHANGE_NAME "PRODUCT_IMG"
		FROM PRODUCT
		JOIN ATTACHMENT USING (FILE_NO)
		WHERE PRODUCT_STATUS = 'Y'
		ORDER BY PRODUCT_PRICE DESC, PRODUCT_NAME ASC
	</entry>
	
	<entry key="productDetail">
		SELECT
			PRODUCT_NO,
			PRODUCT_NAME,
			PRODUCT_PRICE,
			PRODUCT_EXPLAIN,
			ORIGIN,
			FILE_PATH || CHANGE_NAME "PRODUCT_IMG"
		FROM PRODUCT
		JOIN ATTACHMENT USING (FILE_NO)
		WHERE PRODUCT_STATUS = 'Y'
		AND PRODUCT_NAME = ?
	</entry>

</properties>