<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT COUNT(*)
		FROM CONTACT
		WHERE CONT_STATUS ='Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		FROM(
		SELECT ROWNUM RNUM, C.*
		FROM(
		SELECT CONT_NO, CONT_TITLE, USER_ID ,CONT_DATE
		FROM CONTACT
		JOIN MEMBER ON (CONT_WRITER = USER_NO)
		WHERE CONT_STATUS = 'Y'
		ORDER BY CONT_NO DESC) C
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectContact">
		SELECT CONT_NO, CONT_TITLE, CONT_CONT, USER_ID, CONT_DATE, USER_REPLY, ADMIN_REPLY
		FROM CONTACT
		JOIN MEMBER ON (CONT_WRITER = USER_NO)
		WHERE CONT_NO = ? AND CONT_STATUS = 'Y'
	</entry>
	
	<entry key="deleteCont">
		UPDATE CONTACT
		SET CONT_STATUS = 'N'
		WHERE CONT_NO = ?
	</entry>
	
	<entry key="adreply">
		UPDATE CONTACT 
		SET ADMIN_REPLY = ?
		WHERE CONT_NO = ? 
	</entry>
	
</properties>