<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="loginMember">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
		  AND USER_PWD =?
		  AND STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
		INSERT INTO MEMBER(
							USER_NO,
							USER_ID,
							USER_PWD,
							USER_NAME,
							ADDRESS,
							B_DAY,
							PHONE
							)
		VALUES (
				SEQ_UNO.NEXTVAL,
				?,
				?,
				?,
				?,
				?,
				?
				)
	</entry>
	
	
	<entry key="updateMember">
		UPDATE MEMBER
		SET USER_ID = ? ,
		    USER_PWD = ? ,
		    USER_NAME = ? ,
		    B_DAY = ? ,
		    PHONE = ? ,
		    ADDRESS = ?
		WHERE USER_ID = ?
	</entry>
	
	
	
	<entry key="selectMember">
		SELECT *
		  FROM MEMBER
		 WHERE USER_ID = ? 
		   AND USER_NAME = ?
		   AND STATUS = 'Y'
	</entry>
	
	
	
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET STATUS = 'N' 
		 WHERE USER_ID = ? 
		   AND USER_PWD = ?
	</entry>
	
	
	<entry key="idCheck">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE USER_ID = ?
	</entry>
	
	
	
	
</properties>